<section>
  <div class="container">
    <h1>Погода, епта!</h1>
    <h4>Введите название города</h4>
    
    <input 
    type="text" 
    placeholder="Введите название города"
    [(ngModel)]="cityName">
    <button (click)="search()">search</button>
    <div *ngIf="response">
      <img src="{{response.avatar_url}}">
      <p>Город :{{response.name}}</p>
      <p>Температура: {{response.main.temp}} К</p>
      <p>макс: {{response.main.temp_max}} К, </p>
      <p>мин: {{response.main.temp_min}} К</p>
    </div>
  </div>


  <input 
  type="text" 
  id="txtSearch" 
  [(ngModel)]="task" />
</section>