<div class="header" *ngIf="exportedCityBoolean">
    <div class="container">
        <h1 class="header__title">{{exportedCity}}</h1>
    </div>
    
</div>

<div *ngIf="errorMessage" class="error__message">
    <div class="container">
        <p>Произошла ошибка</p>
        <button class="error__button" routerLink="/">Вернуться назад</button>
    </div>
</div>

<div class="container">
    <div class="result">
        <div class="loading__text" *ngIf="isLoading">
            Загрузка...
        </div>
        <div class="result__list" *ngFor="let item of dataSource">
            <div *ngFor="let cityes of item; let i=index" >
                <div class="result__item" *ngIf="i == 0 ||i == 8 || i == 16 || i == 32 || i == 39">
                   <span class="mega__kostbIJl">{{cityes.dt_txt}}</span> <span>{{(cityes.main.temp-273 | number : '1.0-2')}} ℃</span> 
                   
                </div>
            </div>
            <button class="result__button"(click)="refreshData()">Обновить</button>
        </div>
    </div>
</div>




